<?xml version="1.0"?> 
<launch>
  <!-- Web -->
  <node pkg="rudolph_web" name="destination_publish" type="pub_dest.py"  output="screen"/>
  <!-- Ros_Arduino -->
  <!-- <node pkg="rudolph_arduino" name="rasp_to_arduino" type="ros_arduino.py"  output="screen"/> -->
  <node pkg="rudolph_arduino" name="rasp_to_arduino" type="ros_arduino_thread.py"  output="screen"/>
  <!-- Launch Sound node -->
  <node pkg="rudolph_sound" name="rudolph_sound" type="play_sound.py"  output="screen"/>
</launch>
