<?xml version="1.0"?>
<robot name="rudolph_test">

    <material name="black">
        <color rgba="0 0 0 1.0" />
    </material>

     <link name="map">
        <visual>
            <origin rpy="0.0 0 0" xyz="0 0 0"/>
        </visual>
    </link>

    <link name="rudolph">
        <visual>
            <origin rpy="0.0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="package://rudolph_description/meshes/visual/robot2.dae"/>
            </geometry>
            <material name="black" />
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://rudolph_description/meshes/collision/robot2.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>

    <joint name="map_to_rudolph" type="fixed">
        <parent link="map"/>
        <child link="rudolph"/>
    </joint>

</robot>